<header>
    <nav class="navbar fixed-top navbar-dark bg-primary">
      <button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item [routerLink]="['/relatorio']">Relatório Financeiro</button>
  <button mat-menu-item [routerLink]="['/indicadores']">Indicadores</button>
  <button mat-menu-item [routerLink]="['/entregas']">Entregas</button>
</mat-menu>
    </nav>
  </header>
  
  <section>
    <main class="container">
        <router-outlet></router-outlet>
    </main>
  </section>

